{% extends "bicicletas/layouts/base-fullscreen.html" %}

{% block title %} Page 404 {% endblock %} 

{% block body_class %} sign-in-basic {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  {% comment %} {% include 'bicicletas/includes/navigation-transparent.html' %}  {% endcomment %}
  
  <div class="page-header align-items-start min-vh-100" style="background-image: url('/static/assets/img/norali-nayla-eDvG3IO8-Io-unsplash.jpeg');" loading="lazy">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-4 col-md-8 col-12 mx-auto">
          <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">
                    Registo concluído
                </h4>
                <div class="text-center text-white">
                  Obrigado
                </div>
              </div>
            </div>
            <div class="card-body">
              <form role="form" class="text-start">
                <p class="mt-4 text-sm text-center">
                  Quando a tua bicicleta for encontrada, por favor comunica connosco.
                  <br />
                  <br />
                  <a href="/" class="text-success text-gradient font-weight-bold">VOLTAR</a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'bicicletas/includes/footer-auth.html' %} 

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
